---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Member">
    <section class="px-4 py-20 min-h-screen text-slate-100">
        <h2 class="text-4xl font-semibold mb-10">Member</h2>
        <div class="grid grid-cols-4 gap-4">
            <div class="flex flex-col gap-4 items-center">
                <div class="w-24 aspect-square bg-white rounded-full"></div>
                <p class="text-2xl font-semibold mb-4">Nama Lengkap</p>
            </div>
            <div class="flex flex-col gap-4 items-center">
                <div class="w-24 aspect-square bg-white rounded-full"></div>
                <p class="text-2xl font-semibold mb-4">Nama Lengkap</p>
            </div>
            <div class="flex flex-col gap-4 items-center">
                <div class="w-24 aspect-square bg-white rounded-full"></div>
                <p class="text-2xl font-semibold mb-4">Nama Lengkap</p>
            </div>
            <div class="flex flex-col gap-4 items-center">
                <div class="w-24 aspect-square bg-white rounded-full"></div>
                <p class="text-2xl font-semibold mb-4">Nama Lengkap</p>
            </div>
            <div class="flex flex-col gap-4 items-center">
                <div class="w-24 aspect-square bg-white rounded-full"></div>
                <p class="text-2xl font-semibold mb-4">Nama Lengkap</p>
            </div>
            <div class="flex flex-col gap-4 items-center">
                <div class="w-24 aspect-square bg-white rounded-full"></div>
                <p class="text-2xl font-semibold mb-4">Nama Lengkap</p>
            </div>
            <div class="flex flex-col gap-4 items-center">
                <div class="w-24 aspect-square bg-white rounded-full"></div>
                <p class="text-2xl font-semibold mb-4">Nama Lengkap</p>
            </div>
            <div class="flex flex-col gap-4 items-center">
                <div class="w-24 aspect-square bg-white rounded-full"></div>
                <p class="text-2xl font-semibold mb-4">Nama Lengkap</p>
            </div>
            <div class="flex flex-col gap-4 items-center">
                <div class="w-24 aspect-square bg-white rounded-full"></div>
                <p class="text-2xl font-semibold mb-4">Nama Lengkap</p>
            </div>
            <div class="flex flex-col gap-4 items-center">
                <div class="w-24 aspect-square bg-white rounded-full"></div>
                <p class="text-2xl font-semibold mb-4">Nama Lengkap</p>
            </div>
            <div class="flex flex-col gap-4 items-center">
                <div class="w-24 aspect-square bg-white rounded-full"></div>
                <p class="text-2xl font-semibold mb-4">Nama Lengkap</p>
            </div>
            <div class="flex flex-col gap-4 items-center">
                <div class="w-24 aspect-square bg-white rounded-full"></div>
                <p class="text-2xl font-semibold mb-4">Nama Lengkap</p>
            </div>
            <div class="flex flex-col gap-4 items-center">
                <div class="w-24 aspect-square bg-white rounded-full"></div>
                <p class="text-2xl font-semibold mb-4">Nama Lengkap</p>
            </div>
            <div class="flex flex-col gap-4 items-center">
                <div class="w-24 aspect-square bg-white rounded-full"></div>
                <p class="text-2xl font-semibold mb-4">Nama Lengkap</p>
            </div>
            <div class="flex flex-col gap-4 items-center">
                <div class="w-24 aspect-square bg-white rounded-full"></div>
                <p class="text-2xl font-semibold mb-4">Nama Lengkap</p>
            </div>
        </div>
    </section>
</Layout>
